<div class="display-table">
  <div class="vertical-align-cell">
    <form>
      <label for="username">Username</label>
      <input type="text" placeholder="Username">
      <label for="email">Email</label>
      <input type="text" placeholder="Email">
      <label for="">Password</label>
      <input type="password" placeholder="Password">
      <label for="confirm">Confirm Password</label>
      <input type="password" placeholder="Confirm">
      <button type="submit">Login</button>
    </form>
      Need an account? <a ui-sref="auth.login">Register Here</a>
  </div>
</div>
